[*.cs]

# CS8632: The annotation for nullable reference types should only be used in code within a '#nullable' annotations context.
dotnet_diagnostic.CS8632.severity = error

# CS8600: Converting null literal or possible null value to non-nullable type.
dotnet_diagnostic.CS8600.severity = error

# CS8619: Nullability of reference types in value doesn't match target type.
dotnet_diagnostic.CS8619.severity = error

# CS8618: Non-nullable field is uninitialized. Consider declaring as nullable.
dotnet_diagnostic.CS8618.severity = error

# CS8602: Dereference of a possibly null reference.
dotnet_diagnostic.CS8602.severity = error

# CS8604: Possible null reference argument.
dotnet_diagnostic.CS8604.severity = error

# IDE0069: Disposable fields should be disposed
dotnet_diagnostic.IDE0069.severity = none

# CS8601: Possible null reference assignment.
dotnet_diagnostic.CS8601.severity = error

# CS8625: Cannot convert null literal to non-nullable reference type.
dotnet_diagnostic.CS8625.severity = error

# IDE0060: Remove unused parameter
dotnet_code_quality_unused_parameters = all:none
